 <!-- /templates/index.html -->

<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="chatbox">
            <div id="friendslist">
                <div id="topmenu">
                    <span class="friends"></span>
                </div>
                
                <div id="friends">
                    <div class="friend">
                        <img src="{{ url_for('static', filename='logo.png') }}" />
                        <p>
                            <strong>Bitbot</strong><br/>
                            <span>The cryptocurrency info bot.</span>
                        </p>
                        <div class="status available"></div>
                    </div>
                    
                    <div class="friend">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" />
                        <p>
                            <strong>Martin Joseph</strong>
                            <span>marjoseph@gmail.com</span>
                        </p>
                        <div class="status away"></div>
                    </div>
                    
                    <div class="friend">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/3_copy.jpg" />
                        <p>
                            <strong>Tomas Kennedy</strong>
                            <span>tomaskennedy@gmail.com</span>
                        </p>
                        <div class="status inactive"></div>
                    </div>
                    
                    <div class="friend">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/4_copy.jpg" />
                        <p>
                            <strong>Enrique Sutton</strong>
                            <span>enriquesutton@gmail.com</span>
                        </p>
                        <div class="status inactive"></div>
                    </div>
                    
                    <div class="friend">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/5_copy.jpg" />
                        <p>
                        <strong>    Darnell Strickland</strong>
                            <span>darnellstrickland@gmail.com</span>
                        </p>
                        <div class="status inactive"></div>
                    </div>
                    
                    <div id="search">
                        <input type="text" id="searchfield" value="Search contacts..." />
                    </div>
                    
                </div>                
                
            </div>  
            
            <div id="chatview" class="p1">      
                <div id="profile">

                    <div id="close">
                        <div class="cy"></div>
                        <div class="cx"></div>
                    </div>
                    
                    <p>Miro Badev</p>
                    <span>miro@badev@gmail.com</span>
                </div>
                <div id="chat-messages">
                    <label id="dateIndicator"></label>
    
                    
                    <div class="message right">
                        <img class="icon" src="{{ url_for('static', filename='avatar.png')}}" />
                        <div class="bubble">
                            <p class='italic'>gets in...</p>
                            <div class="corner"></div>
                            <span></span>
                        </div>
                    </div>
                    
                </div>
                
                <div id="sendmessage">
                    <form id='message_box'>
                        <input type="text" id="chatInput" placeholder="Send message..." />
                        <input type="submit" hidden/>
                        <button id="send"></button>
                    </form>
                </div>
            
            </div> 
            <div id="footnote">
            <p>Powered by <a href="https://coinmarketcap.com" target="_blank">Coinmarketcap</a> and <a href="https://coingecko.com" target="_blank">Coingecko</a></p>
            </div>     
        </div>  
            
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='chart.min.js')}}"></script>
        <script src="{{ url_for('static', filename='chart_utils.js')}}"></script>
        <script src="{{ url_for('static', filename='moment.min.js')}}"></script>
        <script src="{{ url_for('static', filename='chat.js')}}"></script>
    </body>
</html>